.root{
    position: relative;
}
.App {
    border: 2px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
  text-align: center;
}
.btn{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #cccccc;
    background: red;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card{
  vertical-align: top;
}
.playingCards{
  display: flex;
}
.result{
    border-radius: 20px;
    height: 40px;
    border: 2px solid #cccccc;
    background: darkred;
    padding: 30px 60px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #cccccc;
}
